<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordOverlayHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <DiscordOverlayHost.Properties.Settings>
            <setting name="ShowSettingsOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStartOpenGL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartDirectX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCloseManager" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigPanelClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>768,432</value>
            </setting>
            <setting name="BackgroundColorRGBA" serializeAs="String">
                <value>46,49,54,10</value>
            </setting>
        </DiscordOverlayHost.Properties.Settings>
    </userSettings>
</configuration>
